Makefile
Makefile.in
configure
config.h
config.h.in
config.h.in~
config.status
config.log
config
autom4te.cache
autoscan.log
aclocal.m4
.deps/
.dirstamp
stamp-h1
*.o
src/velbusd
test/Parser
test/NBcat
test/VMB1RS-sim
configure.scan
velbusd-0.0.01.tar.*
